{%extends "base/page.html"%}
{%block title%}Support{%endblock%}
{%block contents%}

<h1>Support <i class="fa fa-question-circle"></i></h1>

<p>PostgreSQL has a wide variety of community and commercial support options available for users, including:</p>
  <ul>
    <li><a href="/docs/">Documentation</a></li>
    <li>The <a href="/community/">Community</a> section, which details the support options available to users from the PostgreSQL community</li>
    <li><a href="/list/">Mailing Lists</a></li>
    <li><a href="/community/irc/">IRC</a></li>
    <li><a href="https://join.slack.com/t/postgresteam/shared_invite/zt-1qj14i9sj-E9WqIFlvcOiHsEk2yFEMjA" target="_blank" rel="noopener">Slack</a></li>
  </ul>

<p><a href="/support/professional_support/">Commercial support</a> is also available from one of the many companies providing <a href="/support/professional_support/">professional services</a>
to the PostgreSQL community. A list of companies that provide <a href="/support/professional_hosting/">PostgreSQL-specific hosting</a> is
also available.</p>

<h2>Bug Reporting</h2>

<p>Found a bug in PostgreSQL? Please read over our <a href="/docs/current/bug-reporting.html">bug reporting guidelines</a>
and then report it using our <a href="/account/submitbug/">bug reporting form</a>.</p>

<p>You can see previous bug reports, and track your own on the <a href="/list/pgsql-bugs/">pgsql-bugs@lists.postgresql.org</a> mailing
list.</p>

<h2>Security Vulnerability Reporting</h2>

<p>If you believe you have found a security issue, please refer to the
   <a href="/support/security/">security page</a> for information on how to
   report it.</p>

{%endblock%}
