{%extends "base/page.html"%}
{%block title%}Community{%endblock%}
{%block contents%}
  <div class="row">
    <div class="col-md-8">
      <h1>Community <i class="fa fa-users"></i></h1>
      <p>
        PostgreSQL is well-supported by its active community. There are more than a dozen <a href="https://lists.postgresql.org/">mailing lists</a> available, categorized into topics like:
      </p>
        <ul>
          <li><a href="/list/pgsql-announce/">Announcements</a></li>
          <li><a href="/list/pgsql-hackers/">PostgreSQL development</a></li>
          <li><a href="/list/pgsql-general/">General PostgreSQL Support</a></li>
          <li><a href="/list/pgsql-jobs/">Jobs</a></li>
        </ul>
      <p>
        and more. We also have many local <a href="/community/user-groups/">PostgreSQL User Groups</a> all over the world, and there is also an active <a href="/community/irc/">IRC</a> &amp; <a href="https://join.slack.com/t/postgresteam/shared_invite/zt-1qj14i9sj-E9WqIFlvcOiHsEk2yFEMjA" target="_blank" rel="noopener">Slack</a> community.
      </p>
      <p>
        There are also links to <a href="/community/international/">international sites</a> that contain PostgreSQL information in various languages.
      </p>
      <p>People in the PostgreSQL community also contribute to:</p>
      <ul>
        <li><a href="https://planet.postgresql.org/" target="_blank" rel="noopener">Planet PostgreSQL</a>, an aggregator of blogs covering many topics around PostgreSQL</li>
        <li><a href="https://wiki.postgresql.org" target="_blank" rel="noopener">PostgreSQL Wiki</a>, our wiki, hosting user generated content as well as information for how to contribute code to PostgreSQL</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Planet PostgreSQL</h2>
      <table class="table table-striped">
        <tbody>
          {% for post in planet %}
          <tr>
            <td scope="row"><a href="{{ post.url }}">{{ post.title }}</a></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
     <a href="https://planet.postgresql.org"><button type="button" class="btn btn-primary">More</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>External Resources</h2>
      <ul>
        <li><a href="https://www.pg-forum.de/" target="_blank" rel="noopener">pg-forum.de</a>, a German PostgreSQL forum.</li>
      </ul>
      <p>
        Please send appropriate links to
        <a href="mailto:pgsql-www@lists.postgresql.org">pgsql-www@lists.postgresql.org</a>
        for possible inclusion on this page. Note that
        <a href="mailto:pgsql-www@lists.postgresql.org">pgsql-www@lists.postgresql.org</a>
        is a publicly archived mailing list.
      </p>
    </div>
    {% comment %}
    <div class="col-md-4">
      <h2>Survey</h2>
      {% if survey %}
        <h3>{{survey.question}}</h3>
        <form method="post" action="/community/survey/vote/{{survey.id}}/"><!-- CSRF exempt -->
          <fieldset class="form-group">
            {%for q in survey.questions%}
              <div class="form-check">
                <input id="surv_opt_{{q.value}}" class="form-check-input" type="radio" name="answer" value="{{ q.value }}" />
                <label class="form-check-label" for="surv_opt_{{q.value}}">{{q.text}}</label>
              </div>
            {%endfor%}
          </fieldset>
          <div class="form-row">
            <input class="btn btn-primary" type="submit" name="submit" value="Vote!" />
          </div>
          <div class="form-row">
            <a href="/community/survey/{{survey.id}}-{{survey|slugify}}/"><button type="button" class="btn btn-primary">View Results</button></a>
          </div>
        </form>
      {% endif %}
    </div>
    {% endcomment %}
  </div>
{%endblock%}
